/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  background-color: #2F2FA2;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #2F2FA2;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
header nav .logo {
  margin-left: 10px;
}
header nav ul {
  display: flex;
  padding-top: 40px;
  margin-right: 100px;
}
header nav ul li a {
  margin: 20px;
  padding-right: 20px;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
header nav ul a:hover {
  text-decoration: underline;
}
header nav .nav-end {
  padding-top: 20px;
  justify-content: space-evenly;
}
header nav .nav-end a .btn-1 {
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 1.2rem;
  margin-right: 50px;
  color: white;
  background-color: #F64C72;
  text-align: center;
}
.main-content {
  position: relative;
  text-align: center ;
  color: white;
}
.main-content .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lower-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  background-color: #553D67;
}
.lower-content .low-content-1 {
  background-color: #553D67;
  width: 50%;
  padding-top: 30px;
}
.lower-content .low-content-1 h1 {
  text-align: center;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5rem;
  padding: 20px;
  min-height: 150px;
}
.lower-content .low-content-1 p {
  text-align: center;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5rem;
  padding: 10px;
  min-height: 150px;
}
.lower-content .low-content-1 button {
  padding: 10px 30px;
  text-align: center;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #F64C72;
}
.lower-content .low-content-1 button:hover {
  color: #F64C72;
  background-color: white;
}
.lower-content .low-content-1 img {
  padding: 40px;
}
.lower-content .low-content-2 {
  background-color: #2F2FA2;
  width: 50%;
  padding-top: 30px;
}
.lower-content .low-content-2 h1 {
  text-align: center;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5rem;
  padding: 20px;
  min-height: 150px;
}
.lower-content .low-content-2 p {
  text-align: center;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5rem;
  padding: 10px;
  min-height: 150px;
}
.lower-content .low-content-2 button {
  padding: 10px 30px;
  text-align: center;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  background-color: #F64C72;
}
.lower-content .low-content-2 button:hover {
  color: #F64C72;
  background-color: white;
}
.lower-content .low-content-2 img {
  padding: 40px;
  margin-bottom: 50px;
}
.lower-content .low-content-3 {
  width: 100%;
}
.lower-content .low-content-3 img {
  width: 100%;
}
.lower-content .low-content-3 h1,
.lower-content .low-content-3 p {
  text-align: center;
  width: 70%;
  color: white;
  margin-left: 15%;
}
.lower-content .low-content-3 button {
  padding: 20px;
  text-align: center;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.footer {
  background-color: #C0C0C0;
  padding: 20px;
  text-align: center;
  color: #ff6644;
  font-size: 2rem;
  font-weight: bold;
}
.footer .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
