.footer{
    background-color:#C0C0C0;
    padding: 20px;
    text-align: center;
    color: #ff6644;
    font-size: 2rem;
    font-weight: bold; 
    @media @phone{
      width: 100%;
      font-size: 1.5rem;
    }

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        @media @phone{
          margin-right: 20px;
      }
      }
}