.main-content{
    position: relative;
    text-align: center ;
    color: white;
    width: 100%;
    @media @phone{
        margin: 0 auto;
        height: 150%;
         
            
    }
    img{
        width: 100%;
        @media @phone{
            img{
                height: 100%;
                width: 100%;
            }     
        }
    }
    
    

    .centered {
        position: absolute;
        top: 65%;
        left: 33%;
        transform: translate(-50%, -50%);
        h1{
            font-size: 13rem;
            padding-bottom: 80px;
        }
        p{
            margin-left: 0px;
            font-size: 4rem;
        }

        @media @phone{
            display: none;
        }
    } 
    button{
        padding:20px 40px;;
        text-align: center;
        font-size: 2rem;
        // margin-left: 10px;
        margin-top:10px;
        margin-bottom: 15px;
        border-radius: 20px;
        background-color: #99738E;

        @media @phone{
            padding:5px 10px;;
            text-align: center;
            font-size: 1rem;
            margin-right: 10px;
            margin-top:5px;
            margin-bottom: 10px;
            border-radius: 10px;
            background-color: #99738E;
            display: none;
            
        }
    }

    button:hover{
        color: #F64C72;
        background-color: white;
    }    

};


.lower-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    background-color: #99738E;

    @media @phone{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        
    }
    


    .low-content-1{
        background-color: @bod-color;
        width: 50%;
        padding-top: 30px;
        @media @phone{
            width: 100%;
        }
        h1{
            text-align: center;
            color: white;
            font-family: 'Work Sans', sans-serif;
            font-size: 2.5rem;
            padding:20px;
            min-height: 150px;
            font-weight: bold;

            @media @phone{
                width: 100%;
                font-size: 2rem;
            }
        }
        p{
            text-align: center;
            color: white;
            font-family: 'Work Sans', sans-serif;
            font-size: 2.5rem;
            padding:10px;
            min-height: 100px;

            @media @phone{
                width: 100%;
                font-size: 2rem;
            }
        }

        button{
            padding:10px 30px;;
            text-align: center;
            margin-left: 280px;
            margin-top:10px;
            margin-bottom: 10px;
            border-radius: 20px;
            background-color:darken(@nav-btn,10%);
            font-size: 2rem;

            @media @phone{
               
                padding:10px 30px;;
                text-align: center;
                margin-left: 130px;
                margin-top:10px;
                margin-bottom: 10px;
                border-radius: 20px;
                background-color:darken(@nav-btn,10%);
                font-size: 2rem;

                @media @smPhone{
                    margin-left: 85px;
                }
                
            }
            
            
           
        }
        button:hover{
            color: #F64C72;
            background-color: white;
        }
        img{
            padding: 40px;
            height:362.25px;
            margin-left: 110px;
            @media @phone{
                width: 100%;
                height: 236px;
                margin:0;
            }
            
            
        }

    }
    .low-content-2{
        background-color: @bod-color ;
        width: 50%;
        padding-top: 30px;

        @media @phone{
            background-color: #379683 ;
            width: 100%;
        }
        h1{
            text-align: center;
            color: white;
            font-family: 'Work Sans', sans-serif;
            font-size: 2.4rem;
            font-weight: bold;
            padding:20px;
            min-height: 150px;



            @media @phone{
                width: 100%;
                font-size: 2rem;
            }
            
        }
        p{
            text-align: center;
            color: white;
            font-family: 'Work Sans', sans-serif;
            font-size: 2.5rem;
            padding:10px;
            min-height: 90px;

            @media @phone{
                width: 100%;
                font-size: 2rem;
            }
        }
        button{
            padding:10px 30px;;
            text-align: center;
            margin-left: 280px;
            margin-top:10px;
            margin-bottom: 15px;
            border-radius: 20px;
            background-color: darken(@nav-btn,10%);
            font-size: 2rem;

            @media @phone{
               
                padding:10px 30px;;
                text-align: center;
                margin-left: 130px;
                margin-top:10px;
                margin-bottom: 10px;
                border-radius: 20px;
                background-color:darken(@nav-btn,10%);
                font-size: 2rem;

                @media @smPhone{
                    margin-left: 85px;
                }
                
            }
        }

        button:hover{
            color: #F64C72;
            background-color: white;
        }
        img{
            padding: 40px;
            height:362.25px;
            margin-left: 110px;
            @media @phone{
                width: 100%;
                height: 236px;
                margin:0;
                
            }
            
        };
    
    
    }

}
/*
.low-content-3{
        width: 100%;
        
        img{
            width:100%;
            
        }
        h1,p{
            text-align: center;
            width: 70%;
            color: white;
            margin-left: 15%;
            }

        button{
            padding:20px;
            text-align: center;
            margin-left: 200px;
            margin-top:10px;
            margin-bottom: 15px;

        }
    }
 */


//  about page
.about-container{
    background-color: #379683;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Work Sans', sans-serif;
    @media @phone{
        width: 100%;
    }
   
    h1{
        font-size: 6rem;
        font-weight: bold;
        color: @bod-color;
        padding-bottom: 100px;
        @media @phone{
            font-size: 3.5rem;
            width: 100%;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 5px;
        }
    }
    
    .panels{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        @media @phone{
            width: 100%;
            display: flex;
        }
        .panel{
            h2{
                font-size: 4rem;
                font-weight: bold;
                text-align: center;
                color: #ff6644;
                @media @phone{
                    width: 100%;
                }
            }
            
            img{
                border-radius: 60px;
                height: 500px;
                width: 500px;
                margin-right: 100px;
                margin-left: 100px;
                @media @phone{
                    width: 100%;
                    height: 300px;
                    margin:0px;
                }
                
            
            }
            #pear{
                margin-left: 470px;
                @media @phone{
                    width: 100%;
                    margin: 0px;
                }
                

            }
            #pear1{
                margin-left:360px;
                color: #ff6644;
                @media @phone{
                    width: 100%;
                    margin: 0px;
                }
                
            }
            #pear1:last-child{
                color: @bod-color;
            }
            p{
                text-align: center;
                padding-bottom: 40px;
                color: @bod-color;
            }
        }
    }
    
}




// login page

.login{
    background-color: "orange";
    

    .login-1{
        
        label{
            padding-top: 40px;
            font-size: 4rem;
            text-align: center;
            color: #ff6644;
            margin-left: 10px;
        }
        input{
            padding: 10px;
            margin: 20px 0px;
            width: 100%;
            color: #ff6644;
        }
        .btn-login{
            color: white;
            background-color: #ff6644;
            width: 50%;
            margin: 20px 0px;
            margin-left: 70px;
            border-radius: 50px;
            text-align:center;
            padding: 10px 0px;
            font-size: 1.5rem;
        }
    }
}