header{
    .nav-display();
    margin-bottom: 10px;
    background-color: @bod-color;

    @media @phone{
        background-color: #99738E;
        width: 100%;
        margin: 0;
        overflow: hidden;
    
    }
    // 

   nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
        overflow: hidden;
        background-color: @bod-color;
        z-index: 2;
    
    
    

        @media @phone{
            display: flex;
            flex-direction: row;
            margin-bottom: 40px;
            background-color: @bod-color;
            margin-top: 0px;
            margin-bottom: 0px;
            width: 100%;
        
        }


        .logo{
            margin-left: 10px;

            @media @phone{
                // margin-left: 55px;
                height: 80px;
                
            
              }
          
        }

        ul{
            display: flex;
            padding-top: 40px;
            margin-right: 100px;
            @media @phone{
                display: none;
                padding-top: 20px;
            }
            

            li a{
                 margin: 20px;
                 padding-right:20px;
            
                color: @nav-font;
                font-size: 1.5rem;
                text-decoration: none;

                @media @phone{
                    padding: 0;
                    margin-left: 30px;
                    
            
                }
            }
            a:hover{
                text-decoration: underline;
                color: @nav-btn;
            }

        }
        .nav-end{
            
            padding-top: 20px;
            justify-content: space-evenly;
            margin-top: 20px;
            
            @media @phone{
                display: none;
                padding-bottom: 20px;
                
            
            }
            a {
                border: #553D67 groove 2px;
                border-radius: 80px;
                padding: 10px 50px;;
                font-size: 1.4rem;
                margin-right: 25px;
                margin-top: 50px;
                color: white;
                background-color: darken(@nav-btn,10%);
                text-align: center;
                text-decoration: none;
            }

            a:hover{
                color: @nav-btn;
                background-color: white;
                text-decoration: underline;
            }
            
        }

        .drop-down{
           @media @phone{
                display: inline-block;
                cursor: pointer;
                margin:  20px 15px 15px 15px;
                    
                    

                .bar1{
                    @media @phone{
                        width: 35px;
                        height: 5px;
                        background-color: #fff;
                        margin: 6px 0;
                        transition: .4s;
                            
                            
                            
                        }
        
                    }
                    

                    
                }

            

            
            
            

        
        };

  

  
    };
}














.sticky {
    position: fixed;
    top: 0;
    width: 97.5%;
    @media @phone{
        width: 100%;
    }
    @media @desktop{
        width: 69.5%;
    }

}

.toggle-on{
    display:block;
};