header{
    .nav-display();
    margin-bottom: 10px;
    background-color: @bod-color;

    @media @phone{
        width: 100%;
        margin: 0;
    
      }
    // 

   nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;

        @media @phone{
            display: flex;
            flex-direction: column;
        
        }


        .logo{
            margin-left: 10px;

            @media @phone{
                margin-left: 70px;
            
              }
          
        }

        ul{
            display: flex;
            padding-top: 40px;
            margin-right: 100px;

            li a{
                 margin: 20px;
                 padding-right:20px;
            
                color: @nav-font;
                font-size: 1.5rem;
                text-decoration: none;

                @media @phone{
                    border: 2px solid black;
                    padding: 0;
            
                }
            }
            a:hover{
                text-decoration: underline;
                color: @nav-btn;
            }

        }
        .nav-end{
            
            padding-top: 20px;
            justify-content: space-evenly;
            
            @media @phone{
                
            
            }
            a .btn-1{
                border-radius: 5px;
                padding: 15px 30px;;
                font-size: 1.2rem;
                margin-right: 50px;
                color: white;
                background-color: darken(@nav-btn,10%);
                text-align: center;
            }

            .btn-1:hover{
                color: @nav-btn;
                background-color: white;
                text-decoration: underline;
            }
            
        }
   }

  
}